.two--container
{
  background-image: url("https://vignette3.wikia.nocookie.net/prydain/images/e/eb/Green_valley.jpg/revision/latest?cb=20130324053834");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
  background-color: #eeeeee;
  height: 500px;
}

.two--input
{
  position: absolute;
  top:25%;
  width:100%;
  color: #ffffff;
}

.two--h5
{
  font-size:2em;
  color:#ffffff;
}

.two--p
{
  font-size:1.3em;
}
.two--input-contain
{
  margin-top: 20px;
}
.two--input-search
{
  width:50%;
  height:30px;
  padding: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color:#555555;
}

.two--go-search
{
  width: 50px;
  position:absolute;
}

