.one--logo-container
{
  width: 100%;
}

.one--header
{
  background-color: #636363;
  border-radius: 5px;
}

.one--menu
{
  cursor: pointer;
  margin-top: 50px;
}

.one--menu-item:hover
{
  color: #ad1414;
}

.one--menu-collapse
{
  display: none;
}

@media screen and (max-width: 768px) {
  .one--icon-menu
  {
    margin-right: 15px;
    float: right;
  }
  .one--menu-collapse
  {
    position:absolute;
    top:70px;
    font-size:2em;
    right: 0;
    display: block;
    width:100%;
    z-index:9;
  }
  .one--full-menu
  {
    display: none;
  }
  .one--full-menu-collapse
  {
    display: none;
    top: 25px;
    left:0;
    width: 100%;
    color:white;
    position: absolute;
    min-width: 160px;
    border-radius:0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .one--menu-button:hover .one--full-menu-collapse
  {
    cursor:pointer;
    display: block;
  }
  .one--list
  {
    font-size:0.6em;
  }
  .one--list:hover
  {
    font-size:0.7em;
  }
  .one--logo-container
  {
    width: 20%;
  }
}

@media screen and (max-width: 540px) {
 .one--menu-collapse
  {
    top:30px;
  }
}