.tip
{
	width: 0px;
	height: 0px;
	position: absolute;
	background: transparent;
	top: 5px;
	z-index: -1;
}

.tip-left
{
	border: 10px solid #ccc;
	border-top-color: transparent;
	border-bottom-color: transparent;  
	border-left-color: transparent;
	left: -18px;
}

.tip-right
{
	border: 10px solid #1f02bf;
	border-top-color: transparent;
	border-bottom-color: transparent;  
	border-right-color: transparent;
	right: -18px;
}

.dialogbox
{
	position: relative;
	width:50%;
	height: auto;
	margin: 25px auto;
	padding: 5px;
	background-color: #DADADA;
	border-radius: 3px;
}

.blue-dialog
{
	background-color:#1f02bf;
	color:#ffffff;
}

.image-dialog
{
	background-image: url("https://marketplace.canva.com/MAB79xYLTlo/1/thumbnail/canva-businessman-avatar-business-icon-MAB79xYLTlo.png");
	background-position: center center;
	background-size: cover;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	position: absolute;
	top: -5px;
}

.image-left
{
	left: -52px;
}

.image-right
{
	right:-52px;
}


@media screen and (max-width: 768px) {
	.dialogbox
	{
		width:80%;
	}
}